<!DOCTYPE html>
<html>



<head>
	<title>SCRC Dashboard</title>
	<meta name="viewport" content="width=device-width, user-scalable=false,">
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<link rel="icon" href="/dashboard/static/images/smartCity_livingLab.png">

	<link rel="stylesheet" href=" /dashboard/static/css/bootstrap.min.css ">
	<link rel="stylesheet" type="text/css" href="/dashboard/static/fontawesome/css/all.min.css" />
	<link rel="stylesheet" href=" /dashboard/static/css/style.css ">

	<link rel="stylesheet" href="/dashboard/static/leaflet/leaflet.css" />
	<style>
		.leaflet-container-default {
			min-height: 300px;
		}
	</style>


	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/dashboard/static/js/bootstrap.min.js"></script>

	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>





	<script src="/dashboard/static/leaflet/leaflet.js"></script>



	<script src="/dashboard/static/leaflet/leaflet.extras.js"></script>
	<script>

		L.Control.ResetView.TITLE = "Reset view";
		L.Control.ResetView.ICON = "url(/dashboard/static/leaflet/images/reset-view.png)";

	</script>

	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
	<script src="/dashboard/static/js/mapmodification.js"></script>
	<script src="/dashboard/static/js/dropdown.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
	<script type="text/javascript" src="/dashboard/static/js/index.js"></script>
	<script type="text/javascript" src="/dashboard/static/js/graph.js"></script>
	<script type="text/javascript" src="/dashboard/static/js/functions.js"></script>
	<script src="/dashboard/static/js/marker_icons.js"></script>

	<script>

		// var mapIconPath = " /dashboard/static/images/icon/";
		// newloadData('',
		//'',
		//'');
		newloadData('{{result|safe}}');

	</script>

	<style>
		/* css to customize Leaflet default styles  */
		.popupCustom .leaflet-popup-tip,
		.popupCustom .leaflet-popup-content-wrapper {
			background: #FFF8DC;
			opacity: 0.85;
			color: #234c5e;
			border-radius: 2px;
			transition: transform 2s ease-in-out;

		}



		.custom .leaflet-popup-close-button,
		.custom .leaflet-popup-tip-container {
			display: none;
		}

		.custom .leaflet-popup-content-wrapper,
		.custom .leaflet-popup-tip {
			background-color: transparent;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;

		}

		.custom .leaflet-popup-content {
			font-size: 0.6rem;
			color: Black;
			font-style: italic;
		}

		/*.dropdown-submenu {*/
		/*  position: relative;*/
		/*}*/

		/*.dropdown-submenu .dropdown-menu {*/
		/*  top: 0;*/
		/*  left: 100%;*/
		/*  margin-top: -1px;*/
		/*}*/


		.subnav {
			padding-left: 10px;
			padding-right: 7px;
			float: left;
			overflow: hidden;
		}

		.subnav .subnavbtn {
			border: none;
			outline: none;
			background-color: inherit;
			font-family: inherit;
			margin: 0;
		}


		.subnav-content {
			display: none;
			position: absolute;
			top: 85%;
			left: 97%;
			margin-top: -1px;
			width: 100%;
			background-color: #ffffff;
			z-index: 1;
		}

		.subnav-content a {
			float: left;
			text-decoration: none;
		}

		.subnav-content a:hover {
			background-color: light grey;
			color: black;
		}

		.subnav:hover .subnav-content {
			display: block;


		}

		.snav {
			padding-left: 10px;
			padding-right: 70px;
			float: left;
			overflow: hidden;
		}

		.snav .snavbtn {
			border: none;
			outline: none;
			background-color: inherit;
			font-family: inherit;
			margin: 0;
		}


		.snav-content {
			display: none;
			position: absolute;
			top: 40%;
			left: 100%;
			margin-top: -1px;
			width: 100%;
			background-color: #ffffff;
			z-index: 1;
		}

		.snav-content a {
			float: left;
			text-decoration: none;
		}

		.snav-content a:hover {
			background-color: light grey;
			color: black;
		}

		.snav:hover .snav-content {
			display: block;


		}

		.flex-container {
			display: flex;
		}

		.flex-child {
			flex: 2;
			width: 90px;
			height: 40px;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			align-items: center;
			//align-content: space-between;
			/* width: 50%;
    float: left;
    padding: 0px;
margin-right: 5px*/
		}

		.popup-para {
			m: 0;
			p: 0;
		}

		.link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
		}

		.scroll {
			float: left;
			width: 200px;
			overflow-y: auto;
			height: 100px;
		}

		< !--.vl {
			-->< !-- border-left: 2px solid orange;
			-->< !-- height: 80px;
			-->< !-- position: absolute;
			-->< !-- margin-left: -10px;
			-->< !-- top: 0;
			-->< !--
		}

		-->< !--.vr {
			-->< !-- border-left: 2px solid orange;
			-->< !-- height: 80px;
			-->< !-- position: absolute;
			-->< !-- margin-left: 250px;
			-->< !-- top: 0;
			-->< !--
		}

		-->.legend {
			float: right;
			width: 100%;
			padding: 0;
			margin-bottom: 0.5rem;
			font-size: calc(1.275rem + 0.3vw);
			line-height: inherit;
		}

		.align-middle {
			vertical-align: middle !important;
		}

		@media (min-width: 1200px) {
			legend {
				font-size: 1.5rem;
			}
		}

		legend+* {
			clear: right;
		}
	</style>

	<style>
		canvas {
			width: 100%;
			height: 92% !important;
			display: block;
		}

		.annotation {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			margin-left: 15px;
			margin-top: 15px;
			padding: 1em;
			width: 200px;
			color: #fff;
			background: rgba(0, 0, 0, 0.8);
			border-radius: .5em;
			font-size: 12px;
			line-height: 1.2;
			transition: opacity .5s;

			&::before {
				content: '1';
				position: absolute;
				top: -30px;
				left: -30px;
				width: 30px;
				height: 30px;
				border: 2px solid #fff;
				border-radius: 50%;
				font-size: 16px;
				line-height: 30px;
				text-align: center;
				background: rgba(0, 0, 0, 0.8);
			}
		}

		#number {
			position: absolute;
			z-index: -1;
		}

		.gooey {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 142px;
			height: 40px;
			margin: -20px 0 0 -71px;
			background: #000;
			filter: contrast(20);
		}

		.gooey .dot {
			position: absolute;
			width: 16px;
			height: 16px;
			top: 12px;
			left: 15px;
			filter: blur(4px);
			background: #fff;
			border-radius: 50%;
			transform: translateX(0);
			animation: dot 2.8s infinite;
		}

		.gooey .dots {
			transform: translateX(0);
			margin-top: 12px;
			margin-left: 31px;
			animation: dots 2.8s infinite;
		}

		.gooey .dots span {
			display: block;
			float: left;
			width: 16px;
			height: 16px;
			margin-left: 16px;
			filter: blur(4px);
			background: #fff;
			border-radius: 50%;
		}

		@-moz-keyframes dot {
			50% {
				transform: translateX(96px);
			}
		}

		@-webkit-keyframes dot {
			50% {
				transform: translateX(96px);
			}
		}

		@-o-keyframes dot {
			50% {
				transform: translateX(96px);
			}
		}

		@keyframes dot {
			50% {
				transform: translateX(96px);
			}
		}

		@-moz-keyframes dots {
			50% {
				transform: translateX(-31px);
			}
		}

		@-webkit-keyframes dots {
			50% {
				transform: translateX(-31px);
			}
		}

		@-o-keyframes dots {
			50% {
				transform: translateX(-31px);
			}
		}

		@keyframes dots {
			50% {
				transform: translateX(-31px);
			}
		}
	</style>
	<style>
		html,
		body {
			height: 100%;
			margin: 0;
		}

		#map {
			width: 100%;
			height: 100%;
		}
	</style>
	<script src="/dashboard/static/js/mapmodification.js"></script>
	<script src="/dashboard/static/js/marker_icons.js"></script>
	<script src="/dashboard/static/js/draco_decoder.js"></script>
	<script src="/dashboard/static/js/tween.umd.js"></script>
	<!--    <script>-->
	<!--        function flush() {-->
	<!--            $("#parameterbody").empty();-->
	<!--        }-->
	<!--    </script>-->
</head>

<body style="overflow-x:hidden ;">
	<nav id="navbar" class="navbar navbar-expand-md navbar-dark"
		style="  width: 100%;  z-index: 9999; position: relative; background-color: #123462; color: #ffffff; padding: 1vh;">
		<div class="container-fluid">
			<a class="navbar-brand " href="/home" style="color: #ffffff; padding-left:10px;">
				<div style='display:flex'>
					<img src="/dashboard/static/images/smartCity_livingLab.png" height="50" border: 10px;>
					<h2 id="title" style='margin-left:1vw'>
						Dashboard
					</h2>
				</div>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<script>
				function myParamsFunction(original_vertical) {
					// order important
					document.getElementById("param" + current_selected_vertical + "KeysDiv").style.display = "none";
					if (original_vertical == "aq") {
						document.getElementById("paramaqKeysDiv").style.display = "block";
						current_selected_vertical = "aq";
					} else if (original_vertical == "wd") {
						document.getElementById("paramwdKeysDiv").style.display = "block";
						current_selected_vertical = "wd";
					} else if (original_vertical == "wf") {
						document.getElementById("paramwfKeysDiv").style.display = "block";
						current_selected_vertical = "wf";
					} else if (original_vertical == "we") {
						document.getElementById("paramweKeysDiv").style.display = "block";
						current_selected_vertical = "we";
					} else if (original_vertical == "sl") {
						document.getElementById("paramslKeysDiv").style.display = "block";
						current_selected_vertical = "sl";
					} else if (original_vertical == "em") {
						document.getElementById("paramemKeysDiv").style.display = "block";
						current_selected_vertical = "em";
					} else if (original_vertical == "cm") {
						document.getElementById("paramcmKeysDiv").style.display = "block";
						current_selected_vertical = "cm";
					} else if (original_vertical == "sraq") {
						document.getElementById("paramsraqKeysDiv").style.display = "block";
						current_selected_vertical = "sraq";
					} else if (original_vertical == "srac") {
						document.getElementById("paramsracKeysDiv").style.display = "block";
						current_selected_vertical = "srac";
					} else if (original_vertical == "sroc") {
						document.getElementById("paramsrocKeysDiv").style.display = "block";
						current_selected_vertical = "sroc";
					} else if (original_vertical == "srem") {
						document.getElementById("paramsremKeysDiv").style.display = "block";
						current_selected_vertical = "srem";
					}
					// var x = document.getElementById("paramaqKeysDiv");
					// if (x.style.display === "none") {
					// x.style.display = "block";
					// } else {
					// x.style.display = "none";
					// }
				}

			</script>

			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item dropdown btnstyle">
						<a class="nav-link dropdown-toggle" href="#" id="currentvertical" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							ALL
						</a>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink"
							id="listofcurrentvertical">

							<a class="dropdown-item" id="all">ALL</a>
							<a class="dropdown-item" id="air_quality">AIR QUALITY</a>
							<a class="dropdown-item" id="water_flow">WATER FLOW</a>
							<a class="dropdown-item" id="water_distribution">WATER DISTRIBUTION</a>
							<div class="snav">
								<button class="snavbtn" id="currentsr" href="#">SMART ROOM <span class="caret"></span> </button>
								<div class="snav-content" id="listofsr">


									<a class="dropdown-item" id="sr_ac" href="#">SR-AC</a>
									<a class="dropdown-item" id="sr_em" href="#">SR-EM</a>
									<a class="dropdown-item" id="sr_oc" href="#">SR-OC</a>
									<a class="dropdown-item" id="sr_aq" href="#">SR-AQ</a>
								</div>
							</div>
							<a class="dropdown-item" id="crowd-monitoring">CROWD MONITORING</a>
							<a class="dropdown-item" id="WeatherStation">WEATHER STATION</a>
							<div class="subnav">
								<button class="subnavbtn" id="currentem" href="#"> ENERGY MONITORING <span class="caret"></span>
								</button>
								<div class="subnav-content" id="listofem">


									<a class="dropdown-item" id="Solar" href="#">SOLAR</a>
									<a class="dropdown-item" id="energy-monitoring" href="#">CONVENTIONAL</a>

								</div>
							</div>




						</div>
					</li>
					<!--                    <li class="nav-item dropdown btnstyle"><div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" class="displaypar" style="color: #A9A9A9; background-color: #123462;" id="show" name="checkair"></div></li>-->
					<!--                    parameters start-->

					<li id="list1" class="nav-item dropdown btnstyle" tabindex="100">
						<a class="nav-link dropdown-toggle" href="#" id="currentparametertype" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<span id="parameterbody"><img src="/dashboard/static/images/icon/air/air1_v2.png" width="20" , height=20>
								<span style="color:grey"">PM25 </span>&nbsp<img src=" /dashboard/static/images/icon/air/air2_v2.png"
									width="20" , height=20> <span style="color:grey">PM10 </span>&nbsp<img
										src="/dashboard/static/images/icon/air/air3_v2.png" width="20" , height=20> <span
										style="color:grey"">Temp </span>&nbsp<img src=" /dashboard/static/images/icon/air/air4_v2.png"
										width="20" , height=20> <span style="color:grey"">rHum </span>&nbsp </span>
                        </a>

<!--                        <div id=" parameterbody2">
			</div>-->
			<!--                        <div id="parameterbody3"></div>-->
			<!--                        <div id="parameterbody4"></div>-->
			<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" id="listofparameters">

				<div id="paramaqKeysDiv">
					<a class="dropdown-item"><input type="checkbox" id="aq_1" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="PM25" /> PM 25 </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_2" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="PM10" /> PM 10 </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_3" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="TEMP" /> TEMP </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_4" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="RELHUM" /> REL HUM </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_5" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="CO" /> CO </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_6" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="NO2" /> NO2 </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_7" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="NH3" /> NH3 </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_8" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="AQI" /> AQI </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_9" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="AQL" /> AQL </a>
					<a class="dropdown-item"><input type="checkbox" id="aq_10" name="checkair"
							onClick="reInitParameters('checkair',air_quality_nodes,'AQ');" value="AQIMP" /> AQI MP </a>
				</div>
				<div id="paramwdKeysDiv" style="display:none">
					<a class="dropdown-item"><input type="checkbox" id="wd_1" name="checkwd"
							onClick="reInitParameters('checkwd',water_distribution_nodes,'WD');" value="WD_TEMP" /> TEMP </a>
					<a class="dropdown-item"><input type="checkbox" id="wd_2" name="checkwd"
							onClick="reInitParameters('checkwd',water_distribution_nodes,'WD');" value="TDS" /> TDS </a>
					<a class="dropdown-item"><input type="checkbox" id="wd_3" name="checkwd"
							onClick="reInitParameters('checkwd',water_distribution_nodes,'WD');" value="WTR_LVL" /> WATER LEVEL </a>
					<a class="dropdown-item"><input type="checkbox" id="wd_4" name="checkwd"
							onClick="reInitParameters('checkwd',water_distribution_nodes,'WD');" value="PH" /> PH </a>
					<a class="dropdown-item"><input type="checkbox" id="wd_5" name="checkwd"
							onClick="reInitParameters('checkwd',water_distribution_nodes,'WD');" value="TUR" /> TURBIDITY </a>
				</div>
				<div id="paramwfKeysDiv" style="display:none">
					<a class="dropdown-item"><input type="checkbox" id="wf_1" name="checkwf"
							onClick="reInitParameters('checkwf',water_flow_nodes,'WF');" value="FLO_RT" /> FLOW RATE </a>
					<a class="dropdown-item"><input type="checkbox" id="wf_2" name="checkwf"
							onClick="reInitParameters('checkwf',water_flow_nodes,'WF');" value="TTL_FLO" /> TOTAL FLOW </a>
					<a class="dropdown-item"><input type="checkbox" id="wf_3" name="checkwf"
							onClick="reInitParameters('checkwf',water_flow_nodes,'WF');" value="WF_PRESS" /> PRESSURE </a>
					<a class="dropdown-item"><input type="checkbox" id="wf_4" name="checkwf"
							onClick="reInitParameters('checkwf',water_flow_nodes,'WF');" value="PRESS_V" /> PRESSURE VOLT </a>
				</div>
				<div id="paramweKeysDiv" style="display:none">
					<a class="dropdown-item"><input type="checkbox" id="we_1" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="SOL_RAD" /> SOLAR RAD </a>
					<a class="dropdown-item"><input type="checkbox" id="we_2" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="WE_TEMP" /> TEMP </a>
					<a class="dropdown-item" id="we_relhumid"><input type="checkbox" id="we_3" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="WE_RHUM" /> REL HUM </a>
					<a class="dropdown-item" id="wind_direction"><input type="checkbox" id="we_4" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="WIND_DIR" /> WIND DIR </a>
					<a class="dropdown-item" id="wind_speed"><input type="checkbox" id="we_5" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="WIND_SP" /> WIND SPEED </a>
					<a class="dropdown-item" id="gust_speed"><input type="checkbox" id="we_6" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="GUST" /> GUST SPEED </a>
					<a class="dropdown-item" id="dew_point"><input type="checkbox" id="we_7" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="DEW" /> DEW POINT </a>
					<a class="dropdown-item" id="battery_dc_voltage"><input type="checkbox" id="we_8" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="DC_VLT" /> BATT DC VOLT </a>
					<a class="dropdown-item" id="rain"><input type="checkbox" id="we_9" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="RAIN" /> RAIN </a>
					<a class="dropdown-item" id="we_pressure"><input type="checkbox" id="we_10" name="checkwe"
							onClick="reInitParameters('checkwe',weather_station_nodes,'WE');" value="WE_PRESS" /> PRESS </a>
				</div>
				<div id="paramsracKeysDiv" style="display:none">
					<a class="dropdown-item" id="room_temp"><input type="checkbox" id="srac_1" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="SR_TEMP" /> ROOM TEMP </a>
					<a class="dropdown-item" id="temp_adjust"><input type="checkbox" id="srac_2" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="TEMP_ADJ" /> TEMP ADJ </a>
					<a class="dropdown-item" id="start_stop_status"><input type="checkbox" id="srac_3" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="STA_STP" /> START STOP </a>
					<a class="dropdown-item" id="alarm"><input type="checkbox" id="srac_4" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="ALM" /> ALARM </a>
					<a class="dropdown-item" id="malfunction_code"><input type="checkbox" id="srac_5" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="MAL" /> MAL CODE </a>
					<a class="dropdown-item" id="air_con_mode_status"><input type="checkbox" id="srac_6" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="AC" /> AIR CON MOD </a>
					<a class="dropdown-item" id="air_flow_rate_status"><input type="checkbox" id="srac_7" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="AR_FLORT" /> AIR FLO RATE </a>
					<a class="dropdown-item" id="filter_sign"><input type="checkbox" id="srac_8" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="FLTR" /> FILTER SGN </a>
					<a class="dropdown-item" id="gas_total_power"><input type="checkbox" id="srac_9" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="GAS" /> GAS TOTAL PWR </a>
					<a class="dropdown-item" id="elec_total_power"><input type="checkbox" id="srac_10" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="ELEC" /> ELEC TOTAL PWR </a>
					<a class="dropdown-item" id="air_direction_status"><input type="checkbox" id="srac_11" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="AIR_DIR" /> AIR DIR </a>
					<a class="dropdown-item" id="forced_thermo_off_status"><input type="checkbox" id="srac_12" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="THRM" /> FORCED THERMO </a>
					<a class="dropdown-item" id="energy_efficiency_status"><input type="checkbox" id="srac_13" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="EFF" /> ENERGY EFF </a>
					<a class="dropdown-item" id="compressor_status"><input type="checkbox" id="srac_14" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="COMP" /> COMPRESSOR </a>
					<a class="dropdown-item" id="indoor_fan_status"><input type="checkbox" id="srac_15" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="FAN" /> INDOOR FAN </a>
					<a class="dropdown-item" id="heater_status"><input type="checkbox" id="srac_16" name="checksrac"
							onClick="reInitParameters('checksrac',srac_nodes,'SR-AC');" value="HEAT" /> HEATER </a>
				</div>
				<div id="paramsremKeysDiv" style="display:none">
					<a class="dropdown-item" id="energy"><input type="checkbox" id="srem_1" name="checksrem"
							onClick="reInitParameters('checksrem' ,srem_nodes, 'SR-EM');" value="EM_ENG" /> ENERGY </a>
					<a class="dropdown-item" id="power"><input type="checkbox" id="srem_2" name="checksrem"
							onClick="reInitParameters('checksrem' ,srem_nodes, 'SR-EM');" value="EM_PWR" /> POWER </a>
					<a class="dropdown-item" id="current"><input type="checkbox" id="srem_3" name="checksrem"
							onClick="reInitParameters('checksrem' ,srem_nodes, 'SR-EM');" value="EM_CURR" /> CURRENT </a>
				</div>
				<div id="paramsraqKeysDiv" style="display:none">
					<a class="dropdown-item" id="sraq_co2"><input type="checkbox" id="sraq_1" name="checksraq"
							onClick="reInitParameters('checksraq',sraq_nodes,'SR-AQ');" value="CO2" /> CO2 </a>
					<a class="dropdown-item" id="aq_temp"><input type="checkbox" id="sraq_2" name="checksraq"
							onClick="reInitParameters('checksraq',sraq_nodes,'SR-AQ');" value="AQ_TEMP" /> TEMP </a>
					<a class="dropdown-item" id="aq_relhum"><input type="checkbox" id="sraq_3" name="checksraq"
							onClick="reInitParameters('checksraq',sraq_nodes,'SR-AQ');" value="AQ_RHUM" /> REL HUM </a>
				</div>
				<div id="paramsrocKeysDiv" style="display:none">
					<a class="dropdown-item" id="occupancy1"><input type="checkbox" id="sroc_1" name="checksroc" /> OCCUPANCY 1
					</a>
					<a class="dropdown-item" id="occupancy2"><input type="checkbox" id="sroc_2" name="checksroc" /> OCCUPANCY 2
					</a>
					<a class="dropdown-item" id="occupancy3"><input type="checkbox" id="sroc_3" name="checksroc" /> OCCUPANCY 3
					</a>
					<a class="dropdown-item" id="occupancy4"><input type="checkbox" id="sroc_4" name="checksroc" /> OCCUPANCY 4
					</a>
					<a class="dropdown-item" id="oc_temp"><input type="checkbox" id="sroc_5" name="checksroc" /> TEMP </a>
					<a class="dropdown-item" id="oc_relhum"><input type="checkbox" id="sroc_6" name="checksroc" /> REL HUM </a>
				</div>
				<div id="paramcmKeysDiv" style="display:none">
					<a class="dropdown-item" id="current_people_count"><input type="checkbox" id="cm_1" name="checkcm"
							onClick="reInitParameters('checkcm',crowd_monitoring_nodes,'CM');" value="CPC" /> CURR PPL COUNT </a>
					<a class="dropdown-item" id="no_of_safe_distance_violations"><input type="checkbox" id="cm_2" name="checkcm"
							onClick="reInitParameters('checkcm',crowd_monitoring_nodes,'CM');" value="SDV" /> SAFE DIST VIOL </a>
					<a class="dropdown-item" id="no_of_mask_violations"><input type="checkbox" id="cm_3" name="checkcm"
							onClick="reInitParameters('checkcm',crowd_monitoring_nodes,'CM');" value="MASK" /> MASK VIOL </a>
					<a class="dropdown-item" id="timestamp_start"><input type="checkbox" id="cm_4" name="checkcm"
							onClick="reInitParameters('checkcm',crowd_monitoring_nodes,'CM');" value="SRT" /> TIME START </a>
					<a class="dropdown-item" id="timestamp_end"><input type="checkbox" id="cm_5" name="checkcm"
							onClick="reInitParameters('checkcm',crowd_monitoring_nodes,'CM');" value="END" /> TIME END </a>
				</div>
				<div id="paramemKeysDiv" style="display:none">
					<a class="dropdown-item" id="rssi"><input type="checkbox" id="em_1" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="RS" /> RSSI </a>
					<a class="dropdown-item" id="r_current"><input type="checkbox" id="em_2" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="R_CURR" /> R CURRENT </a>
					<a class="dropdown-item" id="y_current"><input type="checkbox" id="em_3" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="Y_CURR" /> Y CURRENT </a>
					<a class="dropdown-item" id="b_current"><input type="checkbox" id="em_4" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="B_CURR" /> B CURRENT </a>
					<a class="dropdown-item" id="r_voltage"><input type="checkbox" id="em_5" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="R_VOLT" /> R VOLTAGE </a>
					<a class="dropdown-item" id="y_voltage"><input type="checkbox" id="em_6" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="Y_VOLT" /> Y VOLTAGE </a>
					<a class="dropdown-item" id="b_voltage"><input type="checkbox" id="em_7" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="B_VOLT" /> B VOLTAGE </a>
					<a class="dropdown-item" id="em_power_factor"><input type="checkbox" id="em_8" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="EM_PF" /> POWER FACTOR </a>
					<a class="dropdown-item" id="em_frequency"><input type="checkbox" id="em_9" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="EM_FREQ" /> FREQUENCY </a>
					<a class="dropdown-item" id="apparent_power"><input type="checkbox" id="em_10" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="AP" /> APPARENT POWER </a>
					<a class="dropdown-item" id="real_power"><input type="checkbox" id="em_11" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="RP" /> REAL POWER </a>
					<a class="dropdown-item" id="energy_consumption"><input type="checkbox" id="em_12" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="EC" /> ENERGY CONSUMPTION </a>
					<a class="dropdown-item" id="reactive_energy_lead"><input type="checkbox" id="em_13" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="LEAD" /> REACTIVE ENERGY LEAD
					</a>
					<a class="dropdown-item" id="reactive_energy_lag"><input type="checkbox" id="em_14" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="LAG" /> REACTIVE ENERGY LAG
					</a>
					<a class="dropdown-item" id="total_energy_consumption"><input type="checkbox" id="em_15" name="checkem"
							onClick="reInitParameters('checkem',energy_monitoring_nodes,'EM');" value="TTL_EC" /> TOTAL ENERGY
						CONSUMPTION </a>
				</div>

				<div id="paramslKeysDiv" style="display:none">
					<div class="scroll">
						<a class="dropdown-item" id="eac_today"><input type="checkbox" id="sl_1" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="EAC" /> EAC TODAY </a>
						<a class="dropdown-item" id="frequency"><input type="checkbox" id="sl_7" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="FREQ" /> FREQ </a>
						<a class="dropdown-item" id="active_power"><input type="checkbox" id="sl_3" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="AP" /> ACTIVE PWR </a>
						<a class="dropdown-item" id="power_factor"><input type="checkbox" id="sl_8" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PF" /> PWR FACT </a>
						<a class="dropdown-item" id="eac_total"><input type="checkbox" id="sl_2" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="EAC_TTL" /> EAC TOTAL </a>
						<a class="dropdown-item" id="voltage_rs"><input type="checkbox" id="sl_4" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="RS" /> VOLT RS </a>
						<a class="dropdown-item" id="voltage_st"><input type="checkbox" id="sl_5" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="ST" /> VOLT ST </a>
						<a class="dropdown-item" id="voltage_tr"><input type="checkbox" id="sl_6" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="TR" /> VOLT TR </a>
						<a class="dropdown-item" id="voltage1"><input type="checkbox" id="sl_9" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="V1" /> VOLT 1 </a>
						<a class="dropdown-item" id="current1"><input type="checkbox" id="sl_10" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="C1" /> CURR 1 </a>
						<a class="dropdown-item" id="power1"><input type="checkbox" id="sl_11" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="P1" /> PWR 1 </a>
						<a class="dropdown-item" id="voltage2"><input type="checkbox" id="sl_12" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="V2" /> VOLT 2 </a>
						<a class="dropdown-item" id="current2"><input type="checkbox" id="sl_13" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="C2" /> CURR 2 </a>
						<a class="dropdown-item" id="power2"><input type="checkbox" id="sl_14" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="P2" /> PWR 2 </a>
						<a class="dropdown-item" id="voltage3"><input type="checkbox" id="sl_15" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="V3" /> VOLT 3 </a>
						<a class="dropdown-item" id="current3"><input type="checkbox" id="sl_16" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="C3" /> CURR 3 </a>
						<a class="dropdown-item" id="power3"><input type="checkbox" id="sl_17" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="P3" /> PWR 3 </a>
						<a class="dropdown-item" id="pv1_voltage"><input type="checkbox" id="sl_18" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV1_V" /> PV1 VOLT </a>
						<a class="dropdown-item" id="pv1_current"><input type="checkbox" id="sl_19" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV1_C" /> PV1 CURR </a>
						<a class="dropdown-item" id="pv1_power"><input type="checkbox" id="sl_20" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV1_P" /> PV1 PWR </a>
						<a class="dropdown-item" id="pv2_voltage"><input type="checkbox" id="sl_21" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV2_V" /> PV2 VOLT </a>
						<a class="dropdown-item" id="pv2_current"><input type="checkbox" id="sl_22" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV2_C" /> PV2 CURR </a>
						<a class="dropdown-item" id="pv2_power"><input type="checkbox" id="sl_23" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV2_P" /> PV2 PWR </a>
						<a class="dropdown-item" id="pv3_voltage"><input type="checkbox" id="sl_24" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV3_V" /> PV3 VOLT </a>
						<a class="dropdown-item" id="pv3_current"><input type="checkbox" id="sl_25" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV3_C" /> PV3 CURR </a>
						<a class="dropdown-item" id="pv3_power"><input type="checkbox" id="sl_26" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV3_P" /> PV3 PWR </a>
						<a class="dropdown-item" id="pv4_voltage"><input type="checkbox" id="sl_27" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV4_V" /> PV4 VOLT </a>
						<a class="dropdown-item" id="pv4_current"><input type="checkbox" id="sl_28" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV4_C" /> PV4 CURR </a>
						<a class="dropdown-item" id="pv4_power"><input type="checkbox" id="sl_29" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV4_P" /> PV4 PWR </a>
						<a class="dropdown-item" id="pv5_voltage"><input type="checkbox" id="sl_30" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV5_V" /> PV5 VOLT </a>
						<a class="dropdown-item" id="pv5_current"><input type="checkbox" id="sl_31" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV5_C" /> PV5 CURR </a>
						<a class="dropdown-item" id="pv5_power"><input type="checkbox" id="sl_32" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV5_P" /> PV5 PWR </a>
						<a class="dropdown-item" id="pv6_voltage"><input type="checkbox" id="sl_33" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV6_V" /> PV6 VOLT </a>
						<a class="dropdown-item" id="pv6_current"><input type="checkbox" id="sl_34" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV6_C" /> PV6 CURR </a>
						<a class="dropdown-item" id="pv6_power"><input type="checkbox" id="sl_35" name="checksl"
								onClick="reInitParameters('checksl',solar_nodes,'SL');" value="PV6_P" /> PV6 PWR </a>
					</div>
				</div>
				<!--                        <button id="parameterDone">Done</button>-->
			</div>
			</li>
			<!--                    parameters end-->

			<li class="nav-item dropdown btnstyle">
				<a class="nav-link dropdown-toggle" href="#" id="currentviewtype" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					3D VIEW
				</a>
				<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" id="listofviews">
					<a class="dropdown-item" href="/loadmaps" id="map_view">MAP VIEW</a>
					<a class="dropdown-item" href="/building" id="building_view">BUILDING VIEW</a>
					<a class="dropdown-item" href="/home" id="grafana_view_home">SUMMARY VIEW</a>
					<a class="dropdown-item" href="/3d" id="3d_view">3D VIEW</a>
					<a class="dropdown-item" href="/wisun_view">WISUN DEPLOYMENT</a>
				</div>
			</li>
			</ul>
		</div>
		</div>

	</nav>
	<div>
	</div>
	<!-- Modal -->
	<div class="modal fade" style="padding-top: 80px;" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle">Graph</h5>
					<button type="button" class="btn-close" id='graph-close-button' data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<canvas id="myChart" width="2500" height="1600"></canvas>
					<div class="controls">
						<p>
							Parameter:
							<select name="chartField" id="chartField" onchange="controlChangeCall()">
							</select>
							Range:
							<select name="range" id="range" onchange="rangeChangeCall()">
								<option value="day">Today</option>
								<option value="week" selected>This Week</option>
								<option value="month">This Month</option>
								<option value="year">This Year</option>
								<option value="allTime">All Time</option>
							</select>
							Grouping:
							<select name="interval" id="interval" onchange="controlChangeCall()">
							</select>
							<select name="dataGrouping" id="dataGrouping" onchange="controlChangeCall()">
								<option value="avg" selected>Average</option>
								<option value="min">Minimum</option>
								<option value="max">Maximum</option>
								<option value="sum">Sum</option>
							</select>
						</p>
						<p>
							<select name="additionNode" id="additionNode">
							</select>
							<button type="button" class="btn btn-primary" value="AddNode"
								onclick="addNodeCall(current_selected_vertical.toUpperCase(), popupNode, 'addNode')">Add Node</button>
							<select name="additionContext" id="additionContext">
								<option value="avg" selected>Average</option>
								<option value="min">Minimum</option>
								<option value="max">Maximum</option>
								<option value="sum">Sum</option>
							</select>
							<button type="button" class="btn btn-success" value="AddContext"
								onclick="addContextCall(current_selected_vertical.toUpperCase(), popupNode, 'addNode')">Add
								Context</button>
						</p>
					</div>
				</div>
				<div class="modal-footer">
					<a id="downloadurl"></a>
					<button type="button" class="btn btn-primary" onclick="return downloadJson();">Save as JSON</button>
					<button type="button" class="btn btn-success" onclick="return downloadCsv();">Save as CSV</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="Building View Dashboard" style="background-color: black;">
		<div id="loading-screen" class="gooey">
			<span class="dot"></span>
			<div class="dots">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div id="loading" class="annotation" style="margin-top: 20%; left: -17%;">
				<h2>LOADING</h2>
			</div>
		</div>
	</div>


	<script type="module">

		// Import libraries
		import * as THREE from "/dashboard/static/js/three.module.js";
		import { OrbitControls } from "/dashboard/static/js/OrbitControls.js";
		import { DRACOLoader } from "/dashboard/static/js/DRACOLoader.js";
		import { GLTFLoader } from "/dashboard/static/js/GLTFLoader.js";
		import { RGBELoader } from "/dashboard/static/js/RGBELoader.js";

		// Declare global variables
		let camera, scene, renderer, raycaster, mouse, controls, interaction, spriteMaterial, group, globalCam = { pos: new THREE.Vector3(0, 0, 0), rot: new THREE.Vector3(0, 0, 0) };
		let canvasHeight = window.innerHeight - document.getElementById("navbar").offsetHeight;
		let nodes, isLoaded = false, curType = "ALL", view = 'global', curNode = null, highlightedObj = null, isTween = false;

		// Get nodes data from config.json
		fetch("/get_3d_config")
			.then(response => {
				return response.json();
			})
			.then(data => nodes = data);

		// Initialise camera coordinates for default views for each node type
		let default_views = {
			"ALL": {
				camPos: { x: 21.66753609215439, y: 37.35592538606815, z: 93.40952345429712 },
				camRot: { _x: -0.22783558791521463, _y: 0.0024687684302738904, _z: 0.0005776681058831099, _w: 0.9736963162923672 },
				camTarget: { x: 21.204829505038834, y: -7.819649368126377, z: 2.163054652609467 }
			},
			"AQ": {
				camPos: { x: 21.66753609215439, y: 37.35592538606815, z: 93.40952345429712 },
				camRot: { _x: -0.22783558791521463, _y: 0.0024687684302738904, _z: 0.0005776681058831099, _w: 0.9736963162923672 },
				camTarget: { x: 21.204829505038834, y: -7.819649368126377, z: 2.163054652609467 }
			},
			"WF": {
				camPos: { x: 16.397612496742127, y: 31.58741045622281, z: -31.48539726090904 },
				camRot: { _x: 0.0069159872546619315, _y: 0.9271454359831514, _z: 0.3742458473062719, _w: -0.017133459368033968 },
				camTarget: { x: 18.19398336231106, y: -15.304485271994718, z: 17.101646415432505 }
			},
			"WD": {
				camPos: { x: -16.85433824227102, y: 23.195011065890007, z: 53.97043124916739 },
				camRot: { _x: -0.2432773349411668, _y: -0.2697137429243584, _z: -0.07062827918541853, _w: 0.9290222179049127 },
				camTarget: { x: 16.335045872619702, y: -11.654166015079126, z: 1.6282021943039182 }
			},
			"EM": {
				camPos: { x: 87.12716907100014, y: 24.929517093009885, z: 14.630159738576053 },
				camRot: { _x: -0.23091991236206907, _y: 0.6891678417922606, _z: 0.24855605678530926, _w: 0.6402683551054433 },
				camTarget: { x: 56.07808250357993, y: -0.8854883520779219, z: 16.91735683156542 }
			},
			"WE": {
				camPos: { x: 2.359906357591513, y: 13.401094664004155, z: 56.05539351820388 },
				camRot: { _x: -0.24241873623940446, _y: -0.002999398150877281, _z: -0.0007494693876929413, _w: 0.9701667888700682 },
				camTarget: { x: 2.457033258856252, y: 5.028209721651881, z: 40.34751005092744 }
			},
			"SR-AC": {
				camPos: { x: -6.334929701390774, y: 14.752930821049263, z: 39.608375914543835 },
				camRot: { _x: -0.31088570979411406, _y: 0.0059741694571586535, _z: 0.001954158345810626, _w: 0.9504265179435317 },
				camTarget: { x: -6.813295084902188, y: -13.124089338325996, z: 1.5584691203175114 }
			},
			"SR-AQ": {
				camPos: { x: -6.627258585890266, y: 16.255118726102097, z: 34.957640493132615 },
				camRot: { _x: -0.4628259130049102, _y: 0.0022472939242203387, _z: 0.0011733443071823089, _w: 0.8864455692169295 },
				camTarget: { x: -6.750637329862319, y: -18.67737801791985, z: 10.624410908115525 }
			},
			"SR-EM": {
				camPos: { x: -6.334929701390774, y: 14.752930821049263, z: 39.608375914543835 },
				camRot: { _x: -0.31088570979411406, _y: 0.0059741694571586535, _z: 0.001954158345810626, _w: 0.9504265179435317 },
				camTarget: { x: -6.813295084902188, y: -13.124089338325996, z: 1.5584691203175114 }
			},
			"SR-OC": {
				camPos: { x: -6.513406390662913, y: 12.915780744553642, z: 13.157627877959321 },
				camRot: { _x: -0.0013243301099869827, _y: 0.9444398757538782, _z: 0.32865952681164684, _w: 0.003805610555905244 },
				camTarget: { x: -6.682921225507615, y: -3.741232689401721, z: 34.19156812929126 }
			},
			"SL": {
				camPos: { x: 27.39913949157244, y: 30.1614654551013, z: 66.55180873304157 },
				camRot: { _x: -0.2678031200108099, _y: 0.0060566034496636985, _z: 0.0016835040712218363, _w: 0.9634531500188119 },
				camTarget: { x: 26.593139124524566, y: -8.462853368028128, z: 2.447157388218704 }
			},
			"CM": {
				camPos: { x: -40.43648561412002, y: 11.527973763474106, z: 68.27697522303481 },
				camRot: { _x: -0.21944623508939415, _y: -0.29748111956489603, _z: -0.07046067985279973, _w: 0.9264899492181162 },
				camTarget: { x: -22.394808315946577, y: -4.025709827389905, z: 43.07847519921784 }
			}
		}

		// Render 3D scene
		init();
		animate();


		function init() {

			// Initialse camera and scene
			camera = new THREE.PerspectiveCamera(70, window.innerWidth / canvasHeight, 1, 1000);
			camera.position.set(108.9467652267737, 65.53899598289105, 92.59424607134494);
			camera.quaternion.set(-0.24148348276048254, 0.36272196116241273, 0.09789741568496223, 0.89472599294229)

			raycaster = new THREE.Raycaster();
			mouse = new THREE.Vector2();

			scene = new THREE.Scene();

			const loadingManager = new THREE.LoadingManager(function () {
				const loadingScreen = document.getElementById("loading-screen");
				loadingScreen.style.width = window.innerWidth + "px";
				loadingScreen.style.height = window.innerHeight + "px";
			});

			// Execute set of functions after model is loaded
			loadingManager.onLoad = function () {
				new RGBELoader()
					.load("/dashboard/static/models/environment.hdr", function (texture) {

						texture.mapping = THREE.EquirectangularReflectionMapping;

						const loader = new THREE.TextureLoader();
						loader.load('/dashboard/static/models/background.jpg', function (texture) {
							scene.background = texture;
						});
						scene.environment = texture;
					});

				// Add a delay to prevent the loading screen from flashing
				setTimeout(function () {
					document.getElementById("loading-screen").remove();
					isLoaded = true;
					setTimeout(function () {
						initTween();
					}, 500);
				}, 500);
			}

			// Compress model and load it into the scene      
			const loader = new GLTFLoader(loadingManager);
			const dracoLoader = new DRACOLoader();
			dracoLoader.setDecoderPath('/dashboard/static/js/');
			loader.setDRACOLoader(dracoLoader);
			loader.load("/dashboard/static/models/campus.gltf", function (gltf) {
				scene.add(gltf.scene);
				render();
			});

			// Create a group to hold all the sprites
			group = new THREE.Group();
			scene.add(group);

			// Initialise sprite textures
			const numberTexture = new THREE.CanvasTexture(
				document.querySelector("#number")
			);

			spriteMaterial = new THREE.SpriteMaterial({
				map: numberTexture,
				alphaTest: 0.5,
				transparent: true,
				depthTest: false,
				depthWrite: false
			});

			// Initialise renderer properties and controls (configurable)
			renderer = new THREE.WebGLRenderer({ antialias: true, alpha: false });
			renderer.setPixelRatio(window.devicePixelRatio);
			renderer.setSize(window.innerWidth, canvasHeight);
			renderer.toneMapping = THREE.ACESFilmicToneMapping;
			renderer.toneMappingExposure = 1;
			renderer.outputEncoding = THREE.sRGBEncoding;
			document.body.appendChild(renderer.domElement);

			controls = new OrbitControls(camera, renderer.domElement);
			controls.addEventListener('change', render); // use if there is no animation loop
			controls.minDistance = 1;
			controls.maxDistance = 1000;
			controls.maxPolarAngle = Math.PI / 2;
			controls.update();

			// Set event listeners
			window.addEventListener('resize', onWindowResize);
			renderer.domElement.addEventListener('mousemove', onMouseMove, false);
			renderer.domElement.addEventListener('mousedown', onMouseDown, false);

			// Setup navbar

			defaultParams('checkair');
			defaultParams('checkwd');
			defaultParams('checkwf');
			defaultParams('checkwe');
			defaultParams('checksrac');
			defaultParams('checksl');
			defaultParams('checkcm');
			defaultParams('checkem');

			smart('checksrem');
			smart('checksraq');

			limitFour("air");
			limitFour("wd");
			limitFour("wf");
			limitFour("we");
			limitFour("srac");
			limitFour("sraq");
			limitFour("sroc");
			limitFour("srem");
			limitFour("cm");
			limitFour("em");
			limitFour("sl");

			document.getElementById('parameterbody').innerHTML = 'PARAMETERS'
			var checkboxGlob = [];

			// Add event listeners for navbar
			document.getElementById('all').addEventListener("click", reInitNodes);
			document.getElementById('air_quality').addEventListener("click", reInitNodes);
			document.getElementById('water_distribution').addEventListener("click", reInitNodes);
			document.getElementById('water_flow').addEventListener("click", reInitNodes);
			document.getElementById('sr_ac').addEventListener("click", reInitNodes);
			document.getElementById('sr_em').addEventListener("click", reInitNodes);
			document.getElementById('sr_oc').addEventListener("click", reInitNodes);
			document.getElementById('sr_aq').addEventListener("click", reInitNodes);
			document.getElementById('crowd-monitoring').addEventListener("click", reInitNodes);
			document.getElementById('energy-monitoring').addEventListener("click", reInitNodes);
			document.getElementById('Solar').addEventListener("click", reInitNodes);
			document.getElementById('WeatherStation').addEventListener("click", reInitNodes);

		}

		function updateScreenPosition() {
			if (view == "node") {
				const vector = new THREE.Vector3(nodes[curNode].position.x, nodes[curNode].position.y, nodes[curNode].position.z);
				const canvas = renderer.domElement;

				vector.project(camera);

				vector.x = Math.round((0.5 + vector.x / 2) * (canvas.width / window.devicePixelRatio));
				vector.y = Math.round((0.5 - vector.y / 2) * (canvas.height / window.devicePixelRatio));

				if (nodes[curNode].stacking) {
					// Display node data in stacked leaflets next to each other
					let node_ids = nodes[curNode].nodes, leaflets = [];
					let total_width = 0;
					for (let i = 0; i < node_ids.length; i++) {
						const leaflet = document.getElementById(node_ids[i]);
						if (leaflet != null) {
							total_width += leaflet.clientWidth + 10;
							leaflets.push(leaflet);
						}
					}
					total_width -= 10
					if (leaflets != []) {
						let x = vector.x - total_width / 2;
						for (let i = 0; i < leaflets.length; i++) {
							const leaflet = leaflets[i];
							leaflet.style.left = x + 'px';
							x += leaflet.clientWidth + 10;
							leaflet.style.top = vector.y + document.getElementById("navbar").offsetHeight + canvas.height / 100 + 'px';
						}
					}
				}
				else {
					// Display node data in a single leaflet
					const leaflet = document.getElementById(curNode);
					if (leaflet != null) {
						leaflet.style.left = vector.x - leaflet.clientWidth / 2 + 'px';
						leaflet.style.top = vector.y + document.getElementById("navbar").offsetHeight + canvas.height / 100 + 'px';
					}
					const placeholder = document.getElementById('label');
					if (placeholder != null) {
						placeholder.style.left = vector.x - placeholder.clientWidth / 2 + 'px';
						placeholder.style.top = vector.y + document.getElementById("navbar").offsetHeight - 2 * placeholder.clientHeight + 'px';
					}
				}
			}

			// Normalize scaling of sprites on camera movement
			var scaleVector = new THREE.Vector3(), scaleFactor = 13, reverseScaleFactor;

			if (curNode != null) {
				// Set scaling of selected node sprite      
				const sprite = nodes[curNode].sprite
				scaleFactor = 8;
				var scale = scaleVector.subVectors(sprite.position, camera.position).length() / scaleFactor;
				reverseScaleFactor = Math.log(scale) * scaleVector.subVectors(sprite.position, camera.position).length();   // Set reverse scaling factor
				sprite.scale.set(scale, scale, scale);
			}

			for (var node in nodes) {
				if (curType != nodes[node].type && curType != 'ALL') {
					continue;
				}

				scaleVector = new THREE.Vector3();
				const sprite = nodes[node].sprite
				if (view == 'node') {
					// Reverse scaling of sprites on node selection to indicate distance from selected node
					if (node == curNode) {
						continue;
					}
					var scale = Math.exp(reverseScaleFactor / scaleVector.subVectors(sprite.position, camera.position).length())
				}
				else {
					// Normal scaling of sprites
					scaleFactor = 13;
					var scale = scaleVector.subVectors(sprite.position, camera.position).length() / scaleFactor;
				}
				sprite.scale.set(scale, scale, scale);

			}

		}

		// Create sprites for nodes
		function createSprites() {
			for (var node in nodes) {
				if (nodes[node].type == curType || curType == "ALL") {
					// Sprite images are present in the following path
					var path = '/dashboard/static/images/icon/sprites/' + nodes[node].type + '_sprite.png';
					const texture = new THREE.TextureLoader().load(path);
					texture.encoding = THREE.sRGBEncoding;
					const material = new THREE.SpriteMaterial({ map: texture, color: 0xffffff, transparent: true, depthTest: false, depthWrite: false, fog: false });
					var sprite = new THREE.Sprite(material);
					sprite.name = node;
					sprite.scale.set(2, 2, 2);
					sprite.center.set(0.5, 0);
					sprite.position.set(nodes[node].position.x, nodes[node].position.y, nodes[node].position.z);
					group.add(sprite);
					nodes[node].sprite = sprite
				}
			}
		}

		// Delete all sprites
		function deleteSprites(id) {
			for (var node in nodes) {
				if ((nodes[node].type == curType || curType == 'ALL') && node != id) {
					group.remove(nodes[node].sprite);
				}
			}
		}

		// Create leaflets for node data
		function createLeaflets() {

			if (nodes[curNode].stacking == true) {
				let node_ids = nodes[curNode].nodes;
				for (var node in node_ids) {
					createLeaflet(node_ids[node], nodes[curNode].position)
				}
			}
			else {
				createLeaflet(curNode, nodes[curNode].position)
			}
		}

		// Fetches node data and creates a placeholder for it
		function createLeaflet(id, pos) {
			for (var i in global_nodes) {
				if (id != global_nodes[i].node_id) {
					continue;
				}

				var newpopup = getPopupContent(global_nodes[i], global_nodes[i].type);
				var Node = new DOMParser().parseFromString(newpopup, "text/html");
				const placeholder = document.createElement('div');
				placeholder.id = "nodePlaceholder";
				placeholder.className = 'leaflet-popup-content';
				placeholder.appendChild(Node.documentElement.getElementsByClassName('flex-container')[0]);
				const wrapper = document.createElement('div');
				wrapper.className = 'leaflet-popup-content-wrapper';
				wrapper.appendChild(placeholder);

				const leaflet = document.createElement('div');
				leaflet.id = global_nodes[i].node_id;
				leaflet.className = 'leaflet-popup leaflet-zoom-animated popupCustom';

				const vector = new THREE.Vector3(pos.x, pos.y, pos.z);
				const canvas = renderer.domElement;

				vector.project(camera);

				vector.x = Math.round((0.5 + vector.x / 2) * (canvas.width / window.devicePixelRatio));
				vector.y = Math.round((0.5 - vector.y / 2) * (canvas.height / window.devicePixelRatio));

				leaflet.style.left = vector.x - leaflet.clientWidth + 'px';
				leaflet.style.top = vector.y + document.getElementById("navbar").offsetHeight + canvas.height / 100 + 'px';
				leaflet.style.opacity = '1';
				leaflet.position = 'absolute';
				leaflet.appendChild(wrapper);
				document.getElementById('Building View Dashboard').appendChild(leaflet);
			}
		}

		// Delete leaflet/s
		function deleteLeaflet() {
			if (nodes[curNode].stacking) {
				let node_ids = nodes[curNode].nodes;
				for (var node in node_ids) {
					const leaflet = document.getElementById(node_ids[node]);
					if (leaflet != null) {
						leaflet.parentNode.removeChild(leaflet);
					}
				}
			}
			else {
				const leaflet = document.getElementById(curNode);
				if (leaflet != null) {
					leaflet.parentNode.removeChild(leaflet);
				}
			}
		}

		// Create a location popup for the current node
		function createLabel(id, pos) {
			if (nodes[id].location != null) {
				const placeholder = document.createElement('div');
				placeholder.id = "label";
				placeholder.className = 'annotation';
				placeholder.style.textAlign = 'center';
				placeholder.style.marginLeft = '0';
				placeholder.style.marginTop = '0';
				const heading = document.createElement('h3');
				heading.innerHTML = nodes[id].location;
				placeholder.appendChild(heading);

				const vector = new THREE.Vector3(pos.x, pos.y, pos.z);
				const canvas = renderer.domElement;

				vector.project(camera);

				vector.x = Math.round((0.5 + vector.x / 2) * (canvas.width / window.devicePixelRatio));
				vector.y = Math.round((0.5 - vector.y / 2) * (canvas.height / window.devicePixelRatio));

				placeholder.style.left = vector.x - placeholder.clientWidth + 'px';
				placeholder.style.top = vector.y + document.getElementById("navbar").offsetHeight - placeholder.clientHeight + 'px';

				document.getElementById('Building View Dashboard').appendChild(placeholder);
			}
		}

		// Delete location popup
		function deleteLabel() {
			const label = document.getElementById('label');
			if (label != null) {
				label.parentNode.removeChild(label);
			}
		}

		function onWindowResize() {

			camera.aspect = window.innerWidth / canvasHeight;
			camera.updateProjectionMatrix();

			renderer.setSize(window.innerWidth, canvasHeight);

			render();

		}

		// Get sprite object from raycaster
		function getSprite(intersects) {
			for (var i = 0; i < intersects.length; i++) {
				if (intersects[i].object.type == "Sprite") {
					return intersects[i].object
				}
			}
			return null
		}

		// Initial tweening function on loading model
		function initTween() {
			controls.enablePan = false;
			controls.enableZoom = false;
			controls.enableRotate = false;

			new TWEEN.Tween(camera.position)
				.to({ x: 21.66753609215439, y: 37.35592538606815, z: 93.40952345429712 }, 3000)
				.easing(TWEEN.Easing.Quadratic.InOut)
				.start()
				.onComplete(function () {
					controls.target.set(21.204829505038834, -7.819649368126377, 2.163054652609467);
					controls.enablePan = true;
					controls.enableZoom = true;
					controls.enableRotate = true;
					createSprites();
					createDefaultViewButton();
				});

			new TWEEN.Tween(camera.quaternion)
				.to({ _x: -0.22783558791521463, _y: 0.0024687684302738904, _z: 0.0005776681058831099, _w: 0.9736963162923672 }, 3000)
				.easing(TWEEN.Easing.Quadratic.InOut)
				.start()
		}

		// Tween camera to selected node or vice versa
		function tweenCamTo(pos, rot, flag) {
			const coords = { x: camera.position.x, y: camera.position.y };

			if (!flag) {
				new TWEEN.Tween(camera.position)
					.to(pos, 3000)
					.easing(TWEEN.Easing.Quadratic.InOut)
					.onComplete(function () {
						controls.enablePan = true;
						controls.enableZoom = true;
						controls.enableRotate = true;
					})
					.start();
			}
			else {
				new TWEEN.Tween(camera.position)
					.to(pos, 3000)
					.easing(TWEEN.Easing.Quadratic.InOut)
					.start()
					.onComplete(function () {
						view = "node";
						createLeaflets();
						createLabel(curNode, nodes[curNode].position);
						isTween = false;
					});
			}

			// Tween camera to look at
			new TWEEN.Tween(camera.quaternion)
				.to(rot, 3000)
				.easing(TWEEN.Easing.Quadratic.InOut)
				.start()
		}

		// Tween camera to default view or vice versa
		function tweenCamToDefault() {
			if (view == "global") {
				controls.enablePan = false;
				controls.enableZoom = false;
				controls.enableRotate = false;

				new TWEEN.Tween(camera.position)
					.to(default_views[curType].camPos, 2000)
					.easing(TWEEN.Easing.Quadratic.InOut)
					.start()
					.onComplete(function () {
						controls.target.set(default_views[curType].camTarget.x, default_views[curType].camTarget.y, default_views[curType].camTarget.z);
						controls.enablePan = true;
						controls.enableZoom = true;
						controls.enableRotate = true;
					});

				new TWEEN.Tween(camera.quaternion)
					.to(default_views[curType].camRot, 2000)
					.easing(TWEEN.Easing.Quadratic.InOut)
					.start()
			}
		}

		// Create default view button
		function createDefaultViewButton() {
			const button = document.createElement('button');
			button.id = "defaultViewButton"
			button.className = 'annotation';
			button.style.width = '100px';
			button.style.height = '25px';
			button.style.position = "absolute";
			button.style.display = "block";
			button.style.zIndex = "99";
			button.style.padding = '0px';
			button.style.top = '75px';
			button.style.left = window.innerWidth - 130 + 'px';
			button.textContent = "default view";
			button.addEventListener('mouseover', function () {
				// Change cursor style to pointer
				document.body.style.cursor = 'pointer';
				button.style.backgroundColor = '#ff0000'
			}, false);
			button.addEventListener('mouseout', function () {
				button.style.backgroundColor = '#000000'
				document.body.style.cursor = 'default';
			}, false);
			button.addEventListener('click', function () {
				tweenCamToDefault();
			});

			document.getElementById('Building View Dashboard').appendChild(button);
		}

		function enableDefaultViewButton() {
			const button = document.getElementById('defaultViewButton');
			button.remove();
			createDefaultViewButton();
		}

		function disableDefaultViewButton() {
			const button = document.getElementById('defaultViewButton');
			button.style.backgroundColor = '#3A3B3C';
			button.style.pointerEvents = 'none';
			button.style.cursor = 'default';
		}

		// Create a back button on selecting a node
		function createBackButton() {
			const button = document.createElement('button');
			button.id = "backButton"
			button.className = 'annotation';
			button.style.width = '50px';
			button.style.height = '25px';
			button.style.position = "absolute";
			button.style.display = "block";
			button.style.zIndex = "99";
			button.style.padding = '0px';
			button.style.top = '75px';
			button.textContent = "back";

			// Set event listeners
			button.addEventListener('mouseover', function () {
				// Change cursor style to pointer
				document.body.style.cursor = 'pointer';
				button.style.backgroundColor = '#ff0000'
			}, false);
			button.addEventListener('mouseout', function () {
				button.style.backgroundColor = '#000000'
				document.body.style.cursor = 'default';
			}, false);
			button.addEventListener('click', function () {
				if (view == 'node') {
					view = 'global';
					deleteLeaflet();
					deleteLabel();
					removeBackButton();
					enableDefaultViewButton();
					if (highlightedObj != null) {
						highlightedObj.removeFromParent();
						highlightedObj = null;
					}
					if (curType == 'ALL') {
						noHead()
					}
					// Tween camera back to initial view
					tweenCamTo(globalCam.pos, globalCam.rot, false)
				}
			});

			document.getElementById('Building View Dashboard').appendChild(button);
		}

		// Remove back button
		function removeBackButton() {
			const button = document.getElementById('backButton');
			button.remove()
		}

		// Highlight an object (not implemented)
		function highlight(object) {

			for (var i = 0; i < object.children.length; i++) {
				var obj = object.children[i]
				if (obj.type == "Mesh") {
					var mat = obj.material.clone()
					mat.color.set(0xffac1c)
					obj.material = mat
				}
				else {
					highlight(obj)
				}
			}
		}

		function onMouseMove(event) {

			event.preventDefault();

			mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
			mouse.y = - (event.offsetY / canvasHeight) * 2 + 1;

			raycaster.setFromCamera(mouse, camera);

			const intersects = raycaster.intersectObjects(scene.children);

			if (intersects.length > 0) {

				var node = getSprite(intersects)

				if (view == "global" && isTween == false) {
					if (node != null) {
						curNode = node.name;
						document.body.style.cursor = 'pointer'
					}
					else {
						curNode = null;
						document.body.style.cursor = 'default'
					}
				}

				render()
			}
		}

		function onMouseDown(event) {

			event.preventDefault();
			// // Uncomment to capture camera coordinates and quaternion for debugging purposes
			// console.log(camera.position)
			// console.log(camera.quaternion)
			// console.log(controls.target)

			if (view == "global" && curNode != null) {
				document.body.style.cursor = 'default'
				globalCam.pos = camera.position.clone()
				globalCam.rot = camera.quaternion.clone()
				controls.saveState()
				controls.enablePan = false;
				controls.enableZoom = false;
				controls.enableRotate = false;
				createBackButton();
				disableDefaultViewButton();
				var cur_node = nodes[curNode];

				// Highlight object around selected node (not implemented)
				// if(cur_node.location != null)
				// {
				//   var obj = scene.getObjectByName(cur_node.location)
				//   highlightedObj = obj.clone()
				//   highlight(highlightedObj)
				//   obj.parent.add(highlightedObj)
				// }

				// Tween camera to selected node
				isTween = true;
				tweenCamTo(cur_node.nodeCamPos, cur_node.nodeCamRot, true)
			}
			render()
		}

		// animate function
		function animate() {
			requestAnimationFrame(animate);
			TWEEN.update();
			// controls.update();
			render();
		}


		function render() {
			if (isLoaded) {
				renderer.render(scene, camera);
				updateScreenPosition();
			}
		}

		function noHead() {
			document.getElementById("parameterbody").innerHTML = "PARAMETERS";
		}

		// Custom function to change type of node and display respective sprites
		function reInitNodes(event) {
			var target = event.target;
			deleteSprites();
			switch (target.id) {
				case "all":
					curType = "ALL";
					allnodesSelect();
					myParamsFunction("all")
					noHead()
					break;

				case "air_quality":
					curType = "AQ";
					airqualitynodesSelect();
					myParamsFunction("aq");
					airHead();
					break;

				case "water_distribution":
					waterdistributionnodesSelect();
					myParamsFunction("wd");
					wdHead();
					curType = "WD";
					break;

				case "water_flow":
					waterflownodesSelect();
					myParamsFunction("wf");
					wfHead();
					curType = "WF";
					break;

				case "WeatherStation":
					weatherstationnodesSelect();
					myParamsFunction("we");
					weHead();
					curType = "WE";
					break;

				case "Solar":
					solarnodesSelect();
					myParamsFunction("sl");
					slHead();
					curType = "SL";
					break;

				// case "smart_room":
				//     initialize(smart_room_nodes, "SM");
				// break;

				case "sr_ac":
					sracnodesSelect();
					myParamsFunction("srac");
					sracHead();
					curType = "SR-AC";
					break;

				case "sr_em":
					sremnodesSelect();
					myParamsFunction("srem");
					sremHead();
					curType = "SR-EM";
					break;

				case "sr_oc":
					srocnodesSelect();
					myParamsFunction("sroc");
					// srocHead();
					curType = "SR-OC";
					break;

				case "sr_aq":
					sraqnodesSelect();
					myParamsFunction("sraq");
					sraqHead();
					curType = "SR-AQ";
					break;

				case "crowd-monitoring":
					crowdmonitoringnodesSelect();
					myParamsFunction("cm");
					cmHead();
					curType = "CM";
					break;

				case "energy-monitoring":
					energymonitoringnodesSelect();
					myParamsFunction("em");
					emHead();
					curType = "EM";
					break;

				default:
					console.log("No verticals matched!")
					break;
			}
			createSprites();
			tweenCamToDefault();
		}

	</script>



</body>

</html>