* {
    font-family: 'Poppins';
  }

#map {
    width: 100%;
    height: 120vh;
    position: relative;
    z-index: 100;
}

.navbarNav{
  position: relative;
  z-index: 1000;
}

.topnav-right {
  float: right;
}

.dropdown-toggle {
  padding: 10px; 
  color: #ffffff;
}

.btnstyle{
  border-radius: 25px;
  border: slategray solid;
  margin-right: 10px;
  /* border: #ffffff solid; */
}
